{% set appdir='/opt/futurico/blog/{}'.format(version) %}
{% set logdir='{}/logs'.format(appdir) %}
{% set socket_path='{}/run/app.sock'.format(appdir) %}
{% set upstream='application-%s' % version %}

upstream {{ upstream }} {
    server unix:{{ socket_path }};
}

server {
    listen 80;
    server_name  {{ version }}.{{ domain_name }} ~^{{ version }}\.(.+)\.{{ domain_name }}$;
    access_log   {{ logdir }}/access.log;
    error_log    {{ logdir }}/error.log  debug;
    rewrite_log on;

    subs_filter_types text/css text/xml;
    sub_filter_once on;

    set $fake_http_host $http_host;
    set $versionprefix "";
    if ($http_host ~ "^{{ version }}\.(.+)\.{{ domain_name }}$") {
        set $fake_http_host $1.{{ domain_name }};
        set $versionprefix "{{ version }}.";
    }
    if ($http_host ~ "^{{ version }}\.{{ domain_name }}$") {
        set $fake_http_host {{ domain_name }};
        set $versionprefix "{{ version }}.";
    }

    location / {
        proxy_pass http://{{ upstream }};
        subs_filter "//(.+)\.{{ domain_name }}" "//${versionprefix}$1.{{ domain_name }}" gi;
        subs_filter "//{{ domain_name }}" "//${versionprefix}{{ domain_name }}" gi;
        proxy_set_header Host $fake_http_host;
        proxy_intercept_errors on;
        proxy_set_header X-Forwarded-for $http_x_forwarded_for;
    }
}
